

<h1>Stores</h1>

<%= form_tag stores_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "Advanced Search", new_search_path %>
<!-- original search -->
<!-- table for categories and indexes of stores -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price average</th>
      <th>Source</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<!-- store table with loop to show all created -->


  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.category %></td>
        <td><%= store.price_average %></td>
        <td><%= store.source %></td>
        <td><%= store.summary %></td>
        <td><%= image_tag store.image.url(:thumb) %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>
