<h1></h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>
    
    <div class="field">
         <%= s.label :keywords %></>
            <%= s.text_field :keywords %>
    </div>
    
    <div class="field">
        <%= s.label :category %></>
        <%= s.select :category, options_for_select(@categories), :include_blank => true %>
    </div>
    
    <div class="field">
        <%= s.label :min_price, "Min Price" %>  <%= s.text_field :min_price, size: 10 %>
        <%= s.label :min_price, "Max Price" %>  <%= s.text_field :max_price, size: 10 %>
    </div>
    
    <div class="actions"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>
    
<% end %>
<% if @search.search_stores.empty? %>

    <p>No Records Found</p>
    
<% else %>

    <% @search.search_stores.each do |c| %>
        <br>
        
        <div class="div">
            <h1><%= c.name %></h1>
            <p>Price: <%= c.price_average %></p>
            <p>Category: <%= c.category %></p>
            <p>Source: <%= link_to c.source, c.source %></p>
            <p>Summary: <%= c.summary %></p>
            
        </div>

        
    <% end %>
<% end %>


<p><%= link_to 'Back', stores_path %></p>
