<div class="row">
    
    <% @search.search_stores.each do |c| %>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4><%= link_to c.name, c.source %></h4>
                    <h5 class="pull-right">Average Price £<%= c.price_average %></h5>
                    <h6><%= c.category %></h6>
                    <div class="ratings">
                         <p><%= c.summary %></p>
                    </div>
                    
                </div>
            </div>
        </div>
        <% end %>
</div>
<% if @search.search_stores.empty? %>

    <p>No Records Found</p>
    
<% else %>

    
<% end %> <!-- end if statement-->
 
 <div class="col-md-12">
    <p><%= link_to 'Back', new_search_path %></p>
 </div>                   
                 
                