<h1></h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_stores.empty? %>

    <p>No Records Found</p>
    
<% else %>

    <% @search.search_stores.each do |c| %>
        <br>
        
        <div class="div">
            <h1><%= c.name %></h1>
            <p>Price: <%= c.price_average %></p>
            <p>Category: <%= c.category %></p>
            <p>Source: <%= link_to c.source, c.source %></p>
            <p>Summary: <%= c.summary %></p>
            <p><%= image_tag c.image.url(:thumb) %></p>
        </div>

        
    <% end %>
<% end %>