<!DOCTYPE html>
<html>
  <head>
    <title>Clothing-rack</title>
    <%= csrf_meta_tags %>
		
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
<body>
	
  	<div id="sidebar">
		<div id="logo">
			<%= link_to new_search_path do %>
					<%= image_tag "" %>
			<% end %>
		</div>
		<ul>
			<li class="category">Clothing-Rack</li>
			<li><%= link_to "Boutique Search", new_search_path %></li>
			<li><%= link_to "Independent Labels", label_path %></li>
			<li><%= link_to "Blog", posts_path %></li>
			<li><%= link_to "About", about_path %></li>
			<!-- Does not appear when user is signed in -->
			<% if !user_signed_in? %>
			<li><%= link_to "Sign In", new_user_session_path %></li>
			<% end %>
			
			
		</ul>

		<ul>
			<li class="category">Other Links</li>
			<li><%= link_to "Sportstwear","http://gwarizm.com/", target: :_blank %></li>
			<li><%= link_to "Vintage","http://www.rokit.co.uk/blog", target: :_blank %></li>
			<li><%= link_to "Streetwear","http://agoraclothing.com/blog/", target: :_blank %></li> 
		</ul>
		<% if user_signed_in? %>
			<p class="sign_in">Admin</p>
		<% end %>
	</div>

<div id="main_content">
	
		<div id="header">
			<!-- header change depending on the current page -->
			<% if current_page?(posts_path) %>
				<p>All Posts</p>
				<% elsif current_page?(about_path) %>
				<p>About</p>
				<% elsif current_page?(new_search_path) %>
				<p>Boutique Search</p>
				<% elsif current_page? (root_path) %>
				<p>Boutique Search</p>
				<% elsif current_page?(label_path) %>
				<p>Independent Labels</p>
				<% else %>
			<!-- link back to boutique search when on show page -->
				<%= link_to "Back to Boutique Search", new_search_path %>
				<% end %>
				
			<% if user_signed_in? %>	
			<!-- buttons only visible when user signed in
						changed for Ubuntu firefox -->	
				<div class="buttons">
					<%= link_to "New Post", new_post_path, :class => "button" %>
					<%= link_to("Log Out", destroy_user_session_path, :class => "button", method: :delete) %>
				</div>
				<% end %>
				
		</div>
        
      <!-- flash button animation on buttons -->  
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>
		
		
		
		 <%= yield %>
			
   </div>
   
  </body>
</html>
